Sitio Privado/Web References/ConsultaSaldosFondosPrivados/tann_fondo_invpriv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner/fondoinvpriv" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner/fondoinvpriv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner/fondoinvpriv">
      <s:element name="saldo_fip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saldo_fipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saldo_fipResult" type="tns:_resumen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_resumen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="fechasaldo" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="tns:ArrayOf_saldo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOf_saldo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_saldo" nillable="true" type="tns:_saldo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_saldo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre_fondo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cuenta" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="val_cuota" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sal_cuota" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sal_pesos" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="saldo_fipSoapIn">
    <wsdl:part name="parameters" element="tns:saldo_fip" />
  </wsdl:message>
  <wsdl:message name="saldo_fipSoapOut">
    <wsdl:part name="parameters" element="tns:saldo_fipResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_fondo_invprivSoap">
    <wsdl:operation name="saldo_fip">
      <wsdl:input message="tns:saldo_fipSoapIn" />
      <wsdl:output message="tns:saldo_fipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_fondo_invprivSoap" type="tns:tann_fondo_invprivSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saldo_fip">
      <soap:operation soapAction="http://servicios.tanner/fondoinvpriv/saldo_fip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_fondo_invprivSoap12" type="tns:tann_fondo_invprivSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saldo_fip">
      <soap12:operation soapAction="http://servicios.tanner/fondoinvpriv/saldo_fip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_fondo_invpriv">
    <wsdl:port name="tann_fondo_invprivSoap" binding="tns:tann_fondo_invprivSoap">
      <soap:address location="http://172.17.1.12:8088/tann_fondo_invpriv.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_fondo_invprivSoap12" binding="tns:tann_fondo_invprivSoap12">
      <soap12:address location="http://172.17.1.12:8088/tann_fondo_invpriv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>