Sitio Privado/Web References/DocumentosPendientesFirma/tann_documentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner.cl/documentos" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner.cl/documentos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner.cl/documentos">
      <s:element name="cns_operacion_pendiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_operacion_pendienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cns_operacion_pendienteResult" type="tns:ArrayOf_operacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOf_operacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_operacion" nillable="true" type="tns:_operacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_operacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_folio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_fechacre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_leido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_firmado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_ruta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_nombrecli" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_results" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cns_operaciones_pendientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_operaciones_pendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cns_operaciones_pendientesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_operacion_firmada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaIni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaFin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_operacion_firmadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cns_operacion_firmadaResult" type="tns:ArrayOf_operacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_documento_leido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_documento_leidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cns_documento_leidoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_firmar_documento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_firmar_documentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cns_firmar_documentoResult" type="tns:ArrayOf_operacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_firmar_contrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_firmar_contratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cns_firmar_contratoResult" type="tns:ArrayOf_operacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cns_operacion_pendienteSoapIn">
    <wsdl:part name="parameters" element="tns:cns_operacion_pendiente" />
  </wsdl:message>
  <wsdl:message name="cns_operacion_pendienteSoapOut">
    <wsdl:part name="parameters" element="tns:cns_operacion_pendienteResponse" />
  </wsdl:message>
  <wsdl:message name="cns_operaciones_pendientesSoapIn">
    <wsdl:part name="parameters" element="tns:cns_operaciones_pendientes" />
  </wsdl:message>
  <wsdl:message name="cns_operaciones_pendientesSoapOut">
    <wsdl:part name="parameters" element="tns:cns_operaciones_pendientesResponse" />
  </wsdl:message>
  <wsdl:message name="cns_operacion_firmadaSoapIn">
    <wsdl:part name="parameters" element="tns:cns_operacion_firmada" />
  </wsdl:message>
  <wsdl:message name="cns_operacion_firmadaSoapOut">
    <wsdl:part name="parameters" element="tns:cns_operacion_firmadaResponse" />
  </wsdl:message>
  <wsdl:message name="cns_documento_leidoSoapIn">
    <wsdl:part name="parameters" element="tns:cns_documento_leido" />
  </wsdl:message>
  <wsdl:message name="cns_documento_leidoSoapOut">
    <wsdl:part name="parameters" element="tns:cns_documento_leidoResponse" />
  </wsdl:message>
  <wsdl:message name="cns_firmar_documentoSoapIn">
    <wsdl:part name="parameters" element="tns:cns_firmar_documento" />
  </wsdl:message>
  <wsdl:message name="cns_firmar_documentoSoapOut">
    <wsdl:part name="parameters" element="tns:cns_firmar_documentoResponse" />
  </wsdl:message>
  <wsdl:message name="cns_firmar_contratoSoapIn">
    <wsdl:part name="parameters" element="tns:cns_firmar_contrato" />
  </wsdl:message>
  <wsdl:message name="cns_firmar_contratoSoapOut">
    <wsdl:part name="parameters" element="tns:cns_firmar_contratoResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_documentosSoap">
    <wsdl:operation name="cns_operacion_pendiente">
      <wsdl:input message="tns:cns_operacion_pendienteSoapIn" />
      <wsdl:output message="tns:cns_operacion_pendienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cns_operaciones_pendientes">
      <wsdl:input message="tns:cns_operaciones_pendientesSoapIn" />
      <wsdl:output message="tns:cns_operaciones_pendientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cns_operacion_firmada">
      <wsdl:input message="tns:cns_operacion_firmadaSoapIn" />
      <wsdl:output message="tns:cns_operacion_firmadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cns_documento_leido">
      <wsdl:input message="tns:cns_documento_leidoSoapIn" />
      <wsdl:output message="tns:cns_documento_leidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_documento">
      <wsdl:input message="tns:cns_firmar_documentoSoapIn" />
      <wsdl:output message="tns:cns_firmar_documentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_contrato">
      <wsdl:input message="tns:cns_firmar_contratoSoapIn" />
      <wsdl:output message="tns:cns_firmar_contratoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_documentosSoap" type="tns:tann_documentosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_operacion_pendiente">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_operacion_pendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_operaciones_pendientes">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_operaciones_pendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_operacion_firmada">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_operacion_firmada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_documento_leido">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_documento_leido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_documento">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_firmar_documento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_contrato">
      <soap:operation soapAction="http://servicios.tanner.cl/documentos/cns_firmar_contrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_documentosSoap12" type="tns:tann_documentosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_operacion_pendiente">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_operacion_pendiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_operaciones_pendientes">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_operaciones_pendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_operacion_firmada">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_operacion_firmada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_documento_leido">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_documento_leido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_documento">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_firmar_documento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cns_firmar_contrato">
      <soap12:operation soapAction="http://servicios.tanner.cl/documentos/cns_firmar_contrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_documentos">
    <wsdl:port name="tann_documentosSoap" binding="tns:tann_documentosSoap">
      <soap:address location="http://172.17.1.12:8088/tann_documentos.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_documentosSoap12" binding="tns:tann_documentosSoap12">
      <soap12:address location="http://172.17.1.12:8088/tann_documentos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>