Sitio Privado/Web References/CategoriaInversionista/tann_catsvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner.cl/categoria" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner.cl/categoria" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner.cl/categoria">
      <s:element name="tann_list_cat">
        <s:complexType />
      </s:element>
      <s:element name="tann_list_catResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tann_list_catResult" type="tns:ArrayOf_categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOf_categoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_categoria" nillable="true" type="tns:_categoria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_categoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Productos" type="tns:ArrayOf_producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOf_producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_producto" nillable="true" type="tns:_producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_producto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categorias" type="tns:ArrayOf_categoria" />
        </s:sequence>
      </s:complexType>
      <s:element name="tann_cns_cat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ident_cat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_cns_catResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tann_cns_catResult" type="tns:_categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_cns_cat_cli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut_cli" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_cns_cat_cliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tann_cns_cat_cliResult" type="tns:_categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_list_prod">
        <s:complexType />
      </s:element>
      <s:element name="tann_list_prodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tann_list_prodResult" type="tns:ArrayOf_producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_cns_prod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ident_prd" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tann_cns_prodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tann_cns_prodResult" type="tns:_producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="tann_list_catSoapIn">
    <wsdl:part name="parameters" element="tns:tann_list_cat" />
  </wsdl:message>
  <wsdl:message name="tann_list_catSoapOut">
    <wsdl:part name="parameters" element="tns:tann_list_catResponse" />
  </wsdl:message>
  <wsdl:message name="tann_cns_catSoapIn">
    <wsdl:part name="parameters" element="tns:tann_cns_cat" />
  </wsdl:message>
  <wsdl:message name="tann_cns_catSoapOut">
    <wsdl:part name="parameters" element="tns:tann_cns_catResponse" />
  </wsdl:message>
  <wsdl:message name="tann_cns_cat_cliSoapIn">
    <wsdl:part name="parameters" element="tns:tann_cns_cat_cli" />
  </wsdl:message>
  <wsdl:message name="tann_cns_cat_cliSoapOut">
    <wsdl:part name="parameters" element="tns:tann_cns_cat_cliResponse" />
  </wsdl:message>
  <wsdl:message name="tann_list_prodSoapIn">
    <wsdl:part name="parameters" element="tns:tann_list_prod" />
  </wsdl:message>
  <wsdl:message name="tann_list_prodSoapOut">
    <wsdl:part name="parameters" element="tns:tann_list_prodResponse" />
  </wsdl:message>
  <wsdl:message name="tann_cns_prodSoapIn">
    <wsdl:part name="parameters" element="tns:tann_cns_prod" />
  </wsdl:message>
  <wsdl:message name="tann_cns_prodSoapOut">
    <wsdl:part name="parameters" element="tns:tann_cns_prodResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_catsvcSoap">
    <wsdl:operation name="tann_list_cat">
      <wsdl:input message="tns:tann_list_catSoapIn" />
      <wsdl:output message="tns:tann_list_catSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat">
      <wsdl:input message="tns:tann_cns_catSoapIn" />
      <wsdl:output message="tns:tann_cns_catSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat_cli">
      <wsdl:input message="tns:tann_cns_cat_cliSoapIn" />
      <wsdl:output message="tns:tann_cns_cat_cliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tann_list_prod">
      <wsdl:input message="tns:tann_list_prodSoapIn" />
      <wsdl:output message="tns:tann_list_prodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tann_cns_prod">
      <wsdl:input message="tns:tann_cns_prodSoapIn" />
      <wsdl:output message="tns:tann_cns_prodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_catsvcSoap" type="tns:tann_catsvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tann_list_cat">
      <soap:operation soapAction="http://servicios.tanner.cl/categoria/tann_list_cat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat">
      <soap:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_cat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat_cli">
      <soap:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_cat_cli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_list_prod">
      <soap:operation soapAction="http://servicios.tanner.cl/categoria/tann_list_prod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_prod">
      <soap:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_prod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_catsvcSoap12" type="tns:tann_catsvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tann_list_cat">
      <soap12:operation soapAction="http://servicios.tanner.cl/categoria/tann_list_cat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat">
      <soap12:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_cat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_cat_cli">
      <soap12:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_cat_cli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_list_prod">
      <soap12:operation soapAction="http://servicios.tanner.cl/categoria/tann_list_prod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tann_cns_prod">
      <soap12:operation soapAction="http://servicios.tanner.cl/categoria/tann_cns_prod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_catsvc">
    <wsdl:port name="tann_catsvcSoap" binding="tns:tann_catsvcSoap">
      <soap:address location="http://172.17.1.12:8088/tann_catsvc.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_catsvcSoap12" binding="tns:tann_catsvcSoap12">
      <soap12:address location="http://172.17.1.12:8088/tann_catsvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>