Sitio Privado/Web References/IndicesLiquidezSolvencia/tann_indicadores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner.cl/indicador" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner.cl/indicador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner.cl/indicador">
      <s:element name="cns_ind_liq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xfecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cns_ind_liqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cns_ind_liqResult" type="tns:_indicadores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_indicadores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_rutemp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_nomemp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_adrsietedias" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_pexsietedias" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_addif" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_accif" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_totpasex" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_patrliq" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_moncobpart" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_patdep" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="_fecha" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cns_ind_liqSoapIn">
    <wsdl:part name="parameters" element="tns:cns_ind_liq" />
  </wsdl:message>
  <wsdl:message name="cns_ind_liqSoapOut">
    <wsdl:part name="parameters" element="tns:cns_ind_liqResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_indicadoresSoap">
    <wsdl:operation name="cns_ind_liq">
      <wsdl:input message="tns:cns_ind_liqSoapIn" />
      <wsdl:output message="tns:cns_ind_liqSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_indicadoresSoap" type="tns:tann_indicadoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_ind_liq">
      <soap:operation soapAction="http://servicios.tanner.cl/indicador/cns_ind_liq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_indicadoresSoap12" type="tns:tann_indicadoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_ind_liq">
      <soap12:operation soapAction="http://servicios.tanner.cl/indicador/cns_ind_liq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_indicadores">
    <wsdl:port name="tann_indicadoresSoap" binding="tns:tann_indicadoresSoap">
      <soap:address location="http://172.17.1.12:8088/tann_indicadores.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_indicadoresSoap12" binding="tns:tann_indicadoresSoap12">
      <soap12:address location="http://172.17.1.12:8088/tann_indicadores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>