Sitio Privado/Web References/CartolaResumida/tann_cartola_resumida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner.cl/cartolaresumida" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner.cl/cartolaresumida" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner.cl/cartolaresumida">
      <s:element name="cns_titulos_cartola">
        <s:complexType />
      </s:element>
      <s:element name="cns_titulos_cartolaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cns_titulos_cartolaResult" nillable="true" type="tns:_titulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_titulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_listitulos" type="tns:ArrayOf_titulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOf_titulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_titulo" nillable="true" type="tns:_titulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_titulo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_descriptor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="_cart_selector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_selector" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_cart_selectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cart_selectorResult" type="tns:_cartola_alt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_cartola_alt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="conceptos" type="tns:ArrayOf_itemcartola" />
        </s:sequence>
        <s:attribute name="_rutcli" type="s:string" />
        <s:attribute name="_periodo" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOf_itemcartola">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="_itemcartola" nillable="true" type="tns:_itemcartola" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="_itemcartola">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_valor" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cns_titulos_cartolaSoapIn">
    <wsdl:part name="parameters" element="tns:cns_titulos_cartola" />
  </wsdl:message>
  <wsdl:message name="cns_titulos_cartolaSoapOut">
    <wsdl:part name="parameters" element="tns:cns_titulos_cartolaResponse" />
  </wsdl:message>
  <wsdl:message name="cns_titulos_cartolaAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="_cart_selectorSoapIn">
    <wsdl:part name="parameters" element="tns:_cart_selector" />
  </wsdl:message>
  <wsdl:message name="_cart_selectorSoapOut">
    <wsdl:part name="parameters" element="tns:_cart_selectorResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_cartola_resumidaSoap">
    <wsdl:operation name="cns_titulos_cartola">
      <wsdl:input message="tns:cns_titulos_cartolaSoapIn" />
      <wsdl:output message="tns:cns_titulos_cartolaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_cart_selector">
      <wsdl:input message="tns:_cart_selectorSoapIn" />
      <wsdl:output message="tns:_cart_selectorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_cartola_resumidaSoap" type="tns:tann_cartola_resumidaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_titulos_cartola">
      <soap:operation soapAction="http://servicios.tanner.cl/cartolaresumida/cns_titulos_cartola" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:cns_titulos_cartolaAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_cart_selector">
      <soap:operation soapAction="http://servicios.tanner.cl/cartolaresumida/_cart_selector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_cartola_resumidaSoap12" type="tns:tann_cartola_resumidaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cns_titulos_cartola">
      <soap12:operation soapAction="http://servicios.tanner.cl/cartolaresumida/cns_titulos_cartola" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cns_titulos_cartolaAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_cart_selector">
      <soap12:operation soapAction="http://servicios.tanner.cl/cartolaresumida/_cart_selector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_cartola_resumida">
    <wsdl:port name="tann_cartola_resumidaSoap" binding="tns:tann_cartola_resumidaSoap">
      <soap:address location="http://172.17.1.12:8088/tann_cartola_resumida.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_cartola_resumidaSoap12" binding="tns:tann_cartola_resumidaSoap12">
      <soap12:address location="http://172.17.1.12:8088/tann_cartola_resumida.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>