Sitio Privado/Web References/InformacionClienteAgente/tann_info_cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner/infocliente/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner/infocliente/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner/infocliente/">
      <s:element name="cli_info_agente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_sec" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_info_agenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli_info_agenteResult" type="tns:_agente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_agente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_sucursal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_fono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_pathimg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_fechacert" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_fechavcto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_glosacert" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cli_itoken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_itokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli_itokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cli_info_agenteSoapIn">
    <wsdl:part name="parameters" element="tns:cli_info_agente" />
  </wsdl:message>
  <wsdl:message name="cli_info_agenteSoapOut">
    <wsdl:part name="parameters" element="tns:cli_info_agenteResponse" />
  </wsdl:message>
  <wsdl:message name="cli_itokenSoapIn">
    <wsdl:part name="parameters" element="tns:cli_itoken" />
  </wsdl:message>
  <wsdl:message name="cli_itokenSoapOut">
    <wsdl:part name="parameters" element="tns:cli_itokenResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_info_clienteSoap">
    <wsdl:operation name="cli_info_agente">
      <wsdl:input message="tns:cli_info_agenteSoapIn" />
      <wsdl:output message="tns:cli_info_agenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cli_itoken">
      <wsdl:input message="tns:cli_itokenSoapIn" />
      <wsdl:output message="tns:cli_itokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_info_clienteSoap" type="tns:tann_info_clienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cli_info_agente">
      <soap:operation soapAction="http://servicios.tanner/infocliente/cli_info_agente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_itoken">
      <soap:operation soapAction="http://servicios.tanner/infocliente/cli_itoken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_info_clienteSoap12" type="tns:tann_info_clienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cli_info_agente">
      <soap12:operation soapAction="http://servicios.tanner/infocliente/cli_info_agente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_itoken">
      <soap12:operation soapAction="http://servicios.tanner/infocliente/cli_itoken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_info_cliente">
    <wsdl:port name="tann_info_clienteSoap" binding="tns:tann_info_clienteSoap">
      <soap:address location="https://www.tannercliente.cl/wstsf/tann_info_cliente.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_info_clienteSoap12" binding="tns:tann_info_clienteSoap12">
      <soap12:address location="https://www.tannercliente.cl/wstsf/tann_info_cliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>