Sitio Privado/Web References/SuscripcionFirmaElecDoc/tann_suscrip_firmelec.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="reg_resp_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_glosa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reg_resp_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reg_resp_clienteResult" type="tns:_itemWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_itemWs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_valor" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="val_resp_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="val_resp_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="val_resp_clienteResult" type="tns:_itemWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reg_resp_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:reg_resp_cliente" />
  </wsdl:message>
  <wsdl:message name="reg_resp_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:reg_resp_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="reg_resp_clienteAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="val_resp_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:val_resp_cliente" />
  </wsdl:message>
  <wsdl:message name="val_resp_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:val_resp_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="val_resp_clienteAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="tann_suscrip_firmelecSoap">
    <wsdl:operation name="reg_resp_cliente">
      <wsdl:input message="tns:reg_resp_clienteSoapIn" />
      <wsdl:output message="tns:reg_resp_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="val_resp_cliente">
      <wsdl:input message="tns:val_resp_clienteSoapIn" />
      <wsdl:output message="tns:val_resp_clienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_suscrip_firmelecSoap" type="tns:tann_suscrip_firmelecSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reg_resp_cliente">
      <soap:operation soapAction="http://tempuri.org/reg_resp_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:reg_resp_clienteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="val_resp_cliente">
      <soap:operation soapAction="http://tempuri.org/val_resp_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:val_resp_clienteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_suscrip_firmelecSoap12" type="tns:tann_suscrip_firmelecSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reg_resp_cliente">
      <soap12:operation soapAction="http://tempuri.org/reg_resp_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:reg_resp_clienteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="val_resp_cliente">
      <soap12:operation soapAction="http://tempuri.org/val_resp_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:val_resp_clienteAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_suscrip_firmelec">
    <wsdl:port name="tann_suscrip_firmelecSoap" binding="tns:tann_suscrip_firmelecSoap">
      <soap:address location="http://apolo-cert/wstsf/tann_suscrip_firmelec.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_suscrip_firmelecSoap12" binding="tns:tann_suscrip_firmelecSoap12">
      <soap12:address location="http://apolo-cert/wstsf/tann_suscrip_firmelec.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>