Sitio Privado/Web References/CircularizacionCustodia/tann_circularizacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://servicios.tanner.cl/circularizacion" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicios.tanner.cl/circularizacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicios.tanner.cl/circularizacion">
      <s:element name="cli_circularizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_circularizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cli_circularizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_archivo_circularizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_archivo_circularizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli_archivo_circularizacionResult" type="tns:archivocli" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="archivocli">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_cartola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_circula" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cli_leer_circularizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_leer_circularizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cli_leer_circularizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_fecha_circularizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_fecha_circularizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli_fecha_circularizacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_respuesta_circularizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut_cli" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="respuesta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cli_respuesta_circularizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cli_respuesta_circularizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cli_circularizacionSoapIn">
    <wsdl:part name="parameters" element="tns:cli_circularizacion" />
  </wsdl:message>
  <wsdl:message name="cli_circularizacionSoapOut">
    <wsdl:part name="parameters" element="tns:cli_circularizacionResponse" />
  </wsdl:message>
  <wsdl:message name="cli_archivo_circularizacionSoapIn">
    <wsdl:part name="parameters" element="tns:cli_archivo_circularizacion" />
  </wsdl:message>
  <wsdl:message name="cli_archivo_circularizacionSoapOut">
    <wsdl:part name="parameters" element="tns:cli_archivo_circularizacionResponse" />
  </wsdl:message>
  <wsdl:message name="cli_leer_circularizacionSoapIn">
    <wsdl:part name="parameters" element="tns:cli_leer_circularizacion" />
  </wsdl:message>
  <wsdl:message name="cli_leer_circularizacionSoapOut">
    <wsdl:part name="parameters" element="tns:cli_leer_circularizacionResponse" />
  </wsdl:message>
  <wsdl:message name="cli_fecha_circularizacionSoapIn">
    <wsdl:part name="parameters" element="tns:cli_fecha_circularizacion" />
  </wsdl:message>
  <wsdl:message name="cli_fecha_circularizacionSoapOut">
    <wsdl:part name="parameters" element="tns:cli_fecha_circularizacionResponse" />
  </wsdl:message>
  <wsdl:message name="cli_respuesta_circularizacionSoapIn">
    <wsdl:part name="parameters" element="tns:cli_respuesta_circularizacion" />
  </wsdl:message>
  <wsdl:message name="cli_respuesta_circularizacionSoapOut">
    <wsdl:part name="parameters" element="tns:cli_respuesta_circularizacionResponse" />
  </wsdl:message>
  <wsdl:portType name="tann_circularizacionSoap">
    <wsdl:operation name="cli_circularizacion">
      <wsdl:input message="tns:cli_circularizacionSoapIn" />
      <wsdl:output message="tns:cli_circularizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cli_archivo_circularizacion">
      <wsdl:input message="tns:cli_archivo_circularizacionSoapIn" />
      <wsdl:output message="tns:cli_archivo_circularizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cli_leer_circularizacion">
      <wsdl:input message="tns:cli_leer_circularizacionSoapIn" />
      <wsdl:output message="tns:cli_leer_circularizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cli_fecha_circularizacion">
      <wsdl:input message="tns:cli_fecha_circularizacionSoapIn" />
      <wsdl:output message="tns:cli_fecha_circularizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cli_respuesta_circularizacion">
      <wsdl:input message="tns:cli_respuesta_circularizacionSoapIn" />
      <wsdl:output message="tns:cli_respuesta_circularizacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tann_circularizacionSoap" type="tns:tann_circularizacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cli_circularizacion">
      <soap:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_circularizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_archivo_circularizacion">
      <soap:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_archivo_circularizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_leer_circularizacion">
      <soap:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_leer_circularizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_fecha_circularizacion">
      <soap:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_fecha_circularizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_respuesta_circularizacion">
      <soap:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_respuesta_circularizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tann_circularizacionSoap12" type="tns:tann_circularizacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cli_circularizacion">
      <soap12:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_circularizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_archivo_circularizacion">
      <soap12:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_archivo_circularizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_leer_circularizacion">
      <soap12:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_leer_circularizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_fecha_circularizacion">
      <soap12:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_fecha_circularizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cli_respuesta_circularizacion">
      <soap12:operation soapAction="http://servicios.tanner.cl/circularizacion/cli_respuesta_circularizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tann_circularizacion">
    <wsdl:port name="tann_circularizacionSoap" binding="tns:tann_circularizacionSoap">
      <soap:address location="https://www.tannercliente.cl/wstsf/tann_circularizacion.asmx" />
    </wsdl:port>
    <wsdl:port name="tann_circularizacionSoap12" binding="tns:tann_circularizacionSoap12">
      <soap12:address location="https://www.tannercliente.cl/wstsf/tann_circularizacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>